{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current",
          "browsers": ["last 2 Chrome versions"]
        },
        "exclude": ["transform-async-to-generator"]
      }
    ],
    "es2015",
    "stage-0"
  ],
  "plugins": [
    "transform-object-rest-spread",
    [
      "transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true,
        "moduleName": "babel-runtime"
      }
    ]
  ],
  "retainLines": true,
  "comments": false,
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
